@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1023.9545588887115px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #C69C6D;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-top: -1px;
}

#u12101
{
	z-index: 35;
	width: 768px;
	margin-right: -10000px;
}

#u12102
{
	z-index: 36;
	width: 621px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 83px;
}

#u12102_img
{
	padding-bottom: 1px;
}

#u12104
{
	z-index: 38;
	width: 181px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u12105
{
	z-index: 39;
	width: 179px;
	margin-right: -10000px;
	margin-top: -7px;
	left: -1px;
}

#pu12101,#pu4372
{
	width: 0.01px;
	position: relative;
}

#u4372
{
	z-index: 2;
	width: 768px;
	margin-right: -10000px;
}

#u4372_img
{
	padding-bottom: 259px;
}

#menuu4375
{
	z-index: 4;
	width: 679px;
	margin-right: -10000px;
	margin-top: 114px;
	left: 54px;
}

#u4376
{
	width: 225px;
	min-height: 54px;
	margin-right: -10000px;
}

#u4379
{
	width: 225px;
	padding-bottom: 37px;
}

#u4379:hover
{
	margin: 0px;
}

#u4379:active
{
	margin: 0px;
}

#u4383
{
	width: 225px;
	min-height: 54px;
	margin-right: -10000px;
	left: 227px;
}

#u4384
{
	width: 225px;
	padding-bottom: 37px;
}

#u4379.MuseMenuActive,#u4384:hover
{
	margin: 0px;
}

#u4384:active
{
	margin: 0px;
}

#u4402
{
	width: 225px;
	min-height: 54px;
	margin-right: -10000px;
	left: 454px;
}

#u4405
{
	width: 225px;
	padding-bottom: 37px;
}

#u4384.MuseMenuActive,#u4405:hover
{
	margin: 0px;
}

#u4405:active
{
	margin: 0px;
}

#u4405.MuseMenuActive
{
	margin: 0px;
}

#u4382-4,#u4386-4,#u4406-4
{
	width: 225px;
	min-height: 17px;
	margin-right: -10000px;
	top: 18px;
}

#u4409-4
{
	z-index: 23;
	margin-right: -10000px;
	left: 154px;
}

#u4410-4
{
	z-index: 27;
	margin-right: -10000px;
	margin-top: 73px;
	left: 154px;
}

#u4437-4
{
	z-index: 31;
	margin-right: -10000px;
	margin-top: 175px;
	left: 154px;
}

#slideshowu8682
{
	z-index: 54;
	width: 0.01px;
	height: 516px;
	position: relative;
	margin-right: -10000px;
	margin-top: 181px;
	left: 25px;
}

#u8684
{
	position: absolute;
	width: 496px;
	height: 376px;
	background-color: transparent;
	top: -8px;
	left: 105px;
}

#u8684popup
{
	z-index: 55;
}

#u8797
{
	z-index: 56;
	width: 480px;
	height: 360px;
	border-width: 8px;
	border-style: solid;
	border-color: #A67C52;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8797_img
{
	margin-left: -31px;
	margin-right: -31px;
}

#u8806
{
	z-index: 58;
	width: 480px;
	height: 360px;
	border-width: 8px;
	border-style: solid;
	border-color: #A67C52;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8815
{
	z-index: 60;
	width: 480px;
	height: 360px;
	border-width: 8px;
	border-style: solid;
	border-color: #A67C52;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8824
{
	z-index: 62;
	width: 480px;
	height: 360px;
	border-width: 8px;
	border-style: solid;
	border-color: #A67C52;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8806_img,#u8815_img,#u8824_img
{
	margin-left: -30px;
	margin-right: -30px;
}

#u8833
{
	z-index: 64;
	width: 480px;
	height: 360px;
	border-width: 8px;
	border-style: solid;
	border-color: #A67C52;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8797_clip,#u8806_clip,#u8815_clip,#u8824_clip,#u8833_clip
{
	overflow: hidden;
	width: 480px;
	height: 360px;
}

#u8833_img
{
	margin-left: -23px;
	margin-right: -23px;
}

#u8728
{
	position: absolute;
	width: 470px;
	top: 408px;
	left: 116px;
}

#u8728popup
{
	z-index: 66;
}

#u8800
{
	z-index: 67;
	width: 86px;
	height: 67px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8809
{
	z-index: 69;
	width: 86px;
	height: 67px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 96px;
}

#u8818
{
	z-index: 71;
	width: 86px;
	height: 67px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 192px;
}

#u8827
{
	z-index: 73;
	width: 86px;
	height: 67px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 288px;
}

#u8800_img,#u8809_img,#u8818_img,#u8827_img
{
	margin-left: -7px;
	margin-right: -7px;
}

#u8836
{
	z-index: 75;
	width: 86px;
	height: 67px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 384px;
}

#u8800.SSSlideLinkSelected,#u8809.SSSlideLinkSelected,#u8818.SSSlideLinkSelected,#u8827.SSSlideLinkSelected,#u8836.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u8800_clip,#u8809_clip,#u8818_clip,#u8827_clip,#u8836_clip
{
	overflow: hidden;
	width: 86px;
	height: 67px;
}

#u8836_img
{
	margin-left: -6px;
	margin-right: -6px;
}

#u8715-4
{
	position: absolute;
	width: 10px;
	min-height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: #754C24;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	line-height: 28px;
	font-size: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	top: 154px;
	left: 86px;
}

#u8715-4popup
{
	z-index: 77;
}

#u8683-4
{
	position: absolute;
	width: 10px;
	min-height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: #754C24;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	line-height: 28px;
	font-size: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	top: 154px;
	left: 591px;
}

#u8683-4popup
{
	z-index: 81;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu12179
{
	width: 0.01px;
	margin-top: 97px;
	position: relative;
}

#u12179
{
	z-index: 41;
	width: 768px;
	padding-bottom: 31px;
	margin-right: -10000px;
}

#u12180
{
	z-index: 42;
	width: 176px;
	margin-right: -10000px;
	margin-top: 33px;
	left: -5px;
}

#u12184
{
	z-index: 46;
	width: 113px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 443px;
}

#u12186
{
	z-index: 48;
	width: 100px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 570px;
}

#u12188
{
	z-index: 50;
	width: 78px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 682px;
}

#u12182
{
	z-index: 44;
	width: 147px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 171px;
}

#u12190
{
	z-index: 52;
	width: 126px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 314px;
}

#u12105_img,#u12190_img
{
	padding-right: 1px;
}

#page .verticalspacer
{
	clear: both;
}

