@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1023.9000000000001px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #A67C52;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-top: -1px;
}

#u12029
{
	z-index: 43;
	width: 768px;
	margin-right: -10000px;
}

#u12030
{
	z-index: 44;
	width: 621px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 83px;
}

#u12030_img
{
	padding-bottom: 1px;
}

#u12032
{
	z-index: 46;
	width: 181px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u12034
{
	z-index: 47;
	width: 179px;
	margin-right: -10000px;
	margin-top: -7px;
	left: -1px;
}

#u2819
{
	z-index: 2;
	width: 768px;
	margin-right: -10000px;
}

#u2819_img
{
	padding-bottom: 259px;
}

#menuu2782
{
	z-index: 4;
	width: 679px;
	margin-right: -10000px;
	margin-top: 114px;
	left: 54px;
}

#u2809
{
	width: 225px;
	min-height: 54px;
	margin-right: -10000px;
}

#u2810
{
	width: 225px;
	padding-bottom: 37px;
}

#u2810:hover
{
	margin: 0px;
}

#u2810:active
{
	margin: 0px;
}

#u2790
{
	width: 225px;
	min-height: 54px;
	margin-right: -10000px;
	left: 227px;
}

#u2791
{
	width: 225px;
	padding-bottom: 37px;
}

#u2810.MuseMenuActive,#u2791:hover
{
	margin: 0px;
}

#u2791:active
{
	margin: 0px;
}

#u2783
{
	width: 225px;
	min-height: 54px;
	margin-right: -10000px;
	left: 454px;
}

#u2786
{
	width: 225px;
	padding-bottom: 37px;
}

#u2791.MuseMenuActive,#u2786:hover
{
	margin: 0px;
}

#u2786:active
{
	margin: 0px;
}

#u2786.MuseMenuActive
{
	margin: 0px;
}

#u2813-4,#u2792-4,#u2789-4
{
	width: 225px;
	min-height: 17px;
	margin-right: -10000px;
	top: 18px;
}

#u2816-4
{
	z-index: 23;
	margin-right: -10000px;
	left: 154px;
}

#u2817-4
{
	z-index: 27;
	margin-right: -10000px;
	margin-top: 79px;
	left: 154px;
}

#slideshowu2843
{
	z-index: 51;
	width: 0.01px;
	height: 374px;
	position: relative;
	margin-right: -10000px;
	margin-top: 211px;
	left: 118px;
}

#u2863
{
	position: absolute;
	width: 482px;
	height: 374px;
	background-color: transparent;
	left: 35px;
}

#u2863popup
{
	z-index: 52;
}

#u2868
{
	z-index: 53;
	width: 482px;
	height: 374px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #C69C6D;
	-moz-border-radius: 26px;
	-webkit-border-radius: 26px;
	-khtml-border-radius: 26px;
	border-radius: 26px;
	margin-right: -10000px;
	position: relative;
}

#u2866
{
	z-index: 55;
	width: 482px;
	height: 374px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #C69C6D;
	-moz-border-radius: 26px;
	-webkit-border-radius: 26px;
	-khtml-border-radius: 26px;
	border-radius: 26px;
	margin-right: -10000px;
	position: relative;
}

#u2864
{
	z-index: 57;
	width: 482px;
	height: 374px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #C69C6D;
	-moz-border-radius: 26px;
	-webkit-border-radius: 26px;
	-khtml-border-radius: 26px;
	border-radius: 26px;
	margin-right: -10000px;
	position: relative;
}

#u2902
{
	z-index: 59;
	width: 482px;
	height: 374px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #C69C6D;
	-moz-border-radius: 26px;
	-webkit-border-radius: 26px;
	-khtml-border-radius: 26px;
	border-radius: 26px;
	margin-right: -10000px;
	position: relative;
}

#u2902_img
{
	margin: -187px -7px -187px -9px;
}

#u2914
{
	z-index: 61;
	width: 482px;
	height: 374px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #C69C6D;
	-moz-border-radius: 26px;
	-webkit-border-radius: 26px;
	-khtml-border-radius: 26px;
	border-radius: 26px;
	margin-right: -10000px;
	position: relative;
}

#u2914_img
{
	margin-left: -40px;
	margin-right: -40px;
}

#u2928
{
	z-index: 63;
	width: 482px;
	height: 374px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #C69C6D;
	-moz-border-radius: 26px;
	-webkit-border-radius: 26px;
	-khtml-border-radius: 26px;
	border-radius: 26px;
	margin-right: -10000px;
	position: relative;
}

#u2928_img
{
	margin: -5px -16px -7px;
}

#u2942
{
	z-index: 65;
	width: 482px;
	height: 374px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #C69C6D;
	-moz-border-radius: 26px;
	-webkit-border-radius: 26px;
	-khtml-border-radius: 26px;
	border-radius: 26px;
	margin-right: -10000px;
	position: relative;
}

#u2942_img
{
	margin-left: -55px;
	margin-right: -55px;
	margin-bottom: -19px;
}

#u2954
{
	z-index: 67;
	width: 482px;
	height: 374px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #C69C6D;
	-moz-border-radius: 26px;
	-webkit-border-radius: 26px;
	-khtml-border-radius: 26px;
	border-radius: 26px;
	margin-right: -10000px;
	position: relative;
}

#u2954_img
{
	margin-left: -15px;
	margin-top: -5px;
	margin-right: -9px;
}

#u2968
{
	z-index: 69;
	width: 482px;
	height: 374px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #C69C6D;
	-moz-border-radius: 26px;
	-webkit-border-radius: 26px;
	-khtml-border-radius: 26px;
	border-radius: 26px;
	margin-right: -10000px;
	position: relative;
}

#u2968_img
{
	margin-left: -47px;
	margin-right: -47px;
	margin-bottom: -9px;
}

#u2980
{
	z-index: 71;
	width: 482px;
	height: 374px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #C69C6D;
	-moz-border-radius: 26px;
	-webkit-border-radius: 26px;
	-khtml-border-radius: 26px;
	border-radius: 26px;
	margin-right: -10000px;
	position: relative;
}

#u2902_clip,#u2914_clip,#u2928_clip,#u2942_clip,#u2954_clip,#u2968_clip,#u2980_clip
{
	overflow: hidden;
	width: 482px;
	height: 374px;
}

#u2980_img
{
	margin-left: -44px;
	margin-right: -44px;
	margin-bottom: -6px;
}

#u2870-3
{
	position: absolute;
	width: 50px;
	min-height: 69px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 4px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	background-color: rgba(0, 0, 0, 0.58);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 111px;
	-pie-background: rgba(0, 0, 0, 0.58);
}

#u2870-3:hover
{
	background-color: #FCD18D;
	background-color: rgba(251, 176, 59, 0.58);
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 69px;
	margin: 0px;
	-pie-background: rgba(251, 176, 59, 0.58);
}

#u2870-3:active
{
	background-color: #A28B76;
	background-color: rgba(96, 56, 19, 0.58);
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 69px;
	margin: 0px;
	-pie-background: rgba(96, 56, 19, 0.58);
}

#u2870-3popup
{
	z-index: 73;
}

#u2881-3
{
	position: absolute;
	width: 50px;
	min-height: 69px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 4px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	background-color: rgba(0, 0, 0, 0.58);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 111px;
	left: 482px;
	-pie-background: rgba(0, 0, 0, 0.58);
}

#u2881-3:hover
{
	background-color: #FCD18D;
	background-color: rgba(251, 176, 59, 0.58);
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 69px;
	margin: 0px;
	-pie-background: rgba(251, 176, 59, 0.58);
}

#u2881-3:active
{
	background-color: #A28B76;
	background-color: rgba(96, 56, 19, 0.58);
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 69px;
	margin: 0px;
	-pie-background: rgba(96, 56, 19, 0.58);
}

#u2881-3popup
{
	z-index: 76;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u2897-4
{
	z-index: 79;
	width: 30px;
	min-height: 57px;
	text-align: center;
	line-height: 67px;
	color: #FFFFFF;
	font-size: 56px;
	position: relative;
	margin-right: -10000px;
	margin-top: 336px;
	left: 631px;
}

#u2898-4
{
	z-index: 83;
	width: 28px;
	min-height: 28px;
	text-align: center;
	line-height: 67px;
	color: #FFFFFF;
	font-size: 56px;
	position: relative;
	margin-right: -10000px;
	margin-top: 336px;
	left: 124px;
}

#u3530-4
{
	z-index: 87;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 604px;
	left: 152px;
}

#u3531-26
{
	z-index: 91;
	width: 671px;
	min-height: 1093px;
	text-align: justify;
	line-height: 26px;
	color: #3E1015;
	font-size: 22px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	position: relative;
	margin-right: -10000px;
	margin-top: 687px;
	left: 46px;
}

#menuu9668
{
	z-index: 117;
	width: 122px;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 63px;
}

#u9669
{
	width: 122px;
	min-height: 31px;
	position: relative;
	margin-right: -10000px;
}

#u9672
{
	width: 122px;
	-pie-box-shadow: 7px 8px 8px #86674B;
	-moz-box-shadow: 7px 8px 8px rgba(96, 56, 19, 0.76);
	-webkit-box-shadow: 7px 8px 8px -1px rgba(96, 56, 19, 0.76);
	box-shadow: 7px 8px 8px rgba(96, 56, 19, 0.76);
	background-color: #A86B3B;
	-moz-border-radius: 29px;
	-webkit-border-radius: 29px;
	-khtml-border-radius: 29px;
	border-radius: 29px;
	padding-bottom: 14px;
	position: relative;
}

#u9672:hover
{
	background-color: #CA8342;
	margin: 0px;
}

#u9672:active
{
	background-color: #5E3B0F;
	margin: 0px;
}

#u9674-4
{
	width: 122px;
	min-height: 17px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.MenuItem /* slideshowFreeStyle */
{
	cursor: pointer;
}

#pu12029,#pu2819,#pu9558
{
	width: 0.01px;
	position: relative;
}

#u9558
{
	z-index: 31;
	width: 768px;
	margin-right: -10000px;
}

#u2824
{
	z-index: 32;
	width: 768px;
	padding-bottom: 31px;
	margin-right: -10000px;
}

#u2991
{
	z-index: 33;
	width: 176px;
	margin-right: -10000px;
	margin-top: 33px;
	left: -5px;
}

#u2995
{
	z-index: 37;
	width: 113px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 443px;
}

#u2997
{
	z-index: 39;
	width: 100px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 570px;
}

#u2999
{
	z-index: 41;
	width: 78px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 682px;
}

#u2993
{
	z-index: 35;
	width: 147px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 171px;
}

#u12039
{
	z-index: 49;
	width: 126px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 314px;
}

#u12034_img,#u12039_img
{
	padding-right: 1px;
}

#page .verticalspacer
{
	clear: both;
}

