#u12083
{
	border-style: none;
	border-color: transparent;
	background-color: #52270D;
	-moz-border-radius: 0px 0px 9px 9px ;
	-webkit-border-radius: 0px 0px 9px 9px ;
	-khtml-border-radius: 0px 0px 9px 9px ;
	border-radius: 0px 0px 9px 9px ;
	position: relative;
}

#u12084_img
{
	opacity: 0.21;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=21)";
	filter: alpha(opacity=21);
}

#u12086
{
	border-width: 1px;
	border-style: solid;
	border-color: #C69C6D;
	background-color: #7C7C7C;
	background-color: rgba(0, 0, 0, 0.51);
	-moz-border-radius: 0px 0px 18px 18px ;
	-webkit-border-radius: 0px 0px 18px 18px ;
	-khtml-border-radius: 0px 0px 18px 18px ;
	border-radius: 0px 0px 18px 18px ;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.51);
}

#u11551
{
	background-color: #EBDDCD;
	background-color: rgba(198, 156, 109, 0.34);
	position: relative;
	-pie-background: rgba(198, 156, 109, 0.34);
}

#u11551_img
{
	opacity: 0.34;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=34)";
	filter: alpha(opacity=34);
}

#u11564
{
	-pie-box-shadow: 7px 8px 8px #86674B;
	-moz-box-shadow: 7px 8px 8px rgba(96, 56, 19, 0.76);
	-webkit-box-shadow: 7px 8px 8px -1px rgba(96, 56, 19, 0.76);
	box-shadow: 7px 8px 8px rgba(96, 56, 19, 0.76);
	background-color: #A86B3B;
	-moz-border-radius: 29px 0px 29px 0px ;
	-webkit-border-radius: 29px 0px 29px 0px ;
	-khtml-border-radius: 29px 0px 29px 0px ;
	border-radius: 29px 0px 29px 0px ;
	position: relative;
}

#u11564:hover
{
	background-color: #CA8342;
}

#u11564:active
{
	background-color: #5E3B0F;
}

#u11583
{
	-pie-box-shadow: 7px 8px 8px #86674B;
	-moz-box-shadow: 7px 8px 8px rgba(96, 56, 19, 0.76);
	-webkit-box-shadow: 7px 8px 8px -1px rgba(96, 56, 19, 0.76);
	box-shadow: 7px 8px 8px rgba(96, 56, 19, 0.76);
	background-color: #A86B3B;
	-moz-border-radius: 29px 0px 29px 0px ;
	-webkit-border-radius: 29px 0px 29px 0px ;
	-khtml-border-radius: 29px 0px 29px 0px ;
	border-radius: 29px 0px 29px 0px ;
	position: relative;
}

#u11583:hover
{
	background-color: #CA8342;
}

#u11583:active
{
	background-color: #5E3B0F;
}

#u11557
{
	-pie-box-shadow: 7px 8px 8px #86674B;
	-moz-box-shadow: 7px 8px 8px rgba(96, 56, 19, 0.76);
	-webkit-box-shadow: 7px 8px 8px -1px rgba(96, 56, 19, 0.76);
	box-shadow: 7px 8px 8px rgba(96, 56, 19, 0.76);
	background-color: #A86B3B;
	-moz-border-radius: 29px 0px 29px 0px ;
	-webkit-border-radius: 29px 0px 29px 0px ;
	-khtml-border-radius: 29px 0px 29px 0px ;
	border-radius: 29px 0px 29px 0px ;
	position: relative;
}

#u11557:hover
{
	background-color: #CA8342;
}

#u11557:active
{
	background-color: #5E3B0F;
}

#u11564.MuseMenuActive,#u11583.MuseMenuActive,#u11557.MuseMenuActive
{
	background-color: #40230C;
}

#u11613-6
{
	text-align: center;
	line-height: 8px;
	font-size: 7px;
	position: relative;
}

#u11618-6
{
	text-align: center;
	line-height: 10px;
	font-size: 8px;
	font-weight: bold;
	-webkit-transform: matrix(0.9998,-0.0175,0.0175,0.9998,0,1);
	-ms-transform: matrix(0.9998,-0.0175,0.0175,0.9998,0,1);
	-o-transform: matrix(0.9998,-0.0175,0.0175,0.9998,0,1);
	transform: matrix(0.9998,-0.0175,0.0175,0.9998,0,1);
	position: relative;
}

#u11617-8
{
	text-align: center;
	line-height: 10px;
	font-size: 8px;
	font-weight: bold;
	-webkit-transform: matrix(0.9998,0.0175,-0.0175,0.9998,0,-1);
	-ms-transform: matrix(0.9998,0.0175,-0.0175,0.9998,0,-1);
	-o-transform: matrix(0.9998,0.0175,-0.0175,0.9998,0,-1);
	transform: matrix(0.9998,0.0175,-0.0175,0.9998,0,-1);
	position: relative;
}

#u11628-4
{
	text-align: center;
	line-height: 10px;
	font-size: 8px;
	-webkit-transform: matrix(0.9986,-0.0523,0.0523,0.9986,0,2);
	-ms-transform: matrix(0.9986,-0.0523,0.0523,0.9986,0,2);
	-o-transform: matrix(0.9986,-0.0523,0.0523,0.9986,0,2);
	transform: matrix(0.9986,-0.0523,0.0523,0.9986,0,2);
	position: relative;
}

#u11632-4
{
	text-align: center;
	line-height: 10px;
	font-size: 8px;
	-webkit-transform: matrix(0.7986,-0.6018,0.6018,0.7986,5,30);
	-ms-transform: matrix(0.7986,-0.6018,0.6018,0.7986,5,30);
	-o-transform: matrix(0.7986,-0.6018,0.6018,0.7986,5,30);
	transform: matrix(0.7986,-0.6018,0.6018,0.7986,5,30);
	position: relative;
}

#u11607-6,#u11615-8,#u11611-6,#u11625-4,#u11629-6
{
	text-align: center;
	line-height: 10px;
	font-size: 8px;
	position: relative;
}

#u11631-4,#u11612-4
{
	text-align: center;
	line-height: 8px;
	color: #000000;
	font-size: 7px;
	font-weight: bold;
	-webkit-transform: matrix(0,1,-1,0,44,-34);
	-ms-transform: matrix(0,1,-1,0,44,-34);
	-o-transform: matrix(0,1,-1,0,44,-34);
	transform: matrix(0,1,-1,0,44,-34);
	position: relative;
}

#u11634-4,#u11621-4,#u11620-6,#u11630-6,#u11614-6,#u11638-6,#u11619-6,#u11636-4,#u11627-4,#u11626-4,#u11635-4
{
	text-align: center;
	line-height: 8px;
	color: #000000;
	font-size: 7px;
	font-weight: bold;
	position: relative;
}

#u11637-4,#u11608-6,#u11674-4,#u11633-8,#u11609-4,#u11622-4,#u11616-4
{
	text-align: center;
	line-height: 11px;
	color: #754C24;
	font-size: 9px;
	font-weight: bold;
	position: relative;
}

#u11610-4
{
	text-align: center;
	line-height: 10px;
	color: #754C24;
	font-size: 8px;
	font-weight: bold;
	position: relative;
}

#u11217
{
	position: absolute;
}

#u11333
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #666666;
	background-color: rgba(0, 0, 0, 0.6);
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.6);
}

#u11334-6
{
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
}

#u11348
{
	background-color: #C69C6D;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	-khtml-border-radius: 24px;
	border-radius: 24px;
	position: relative;
}

#u11348:hover
{
	background-color: #EBC9A3;
}

#u11348:active
{
	background-color: #F0D1AF;
}

#u11339
{
	background-color: #C69C6D;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	-khtml-border-radius: 24px;
	border-radius: 24px;
	position: relative;
}

#u11339:hover
{
	background-color: #EBC9A3;
}

#u11339:active
{
	background-color: #F0D1AF;
}

#u11218
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #666666;
	background-color: rgba(0, 0, 0, 0.6);
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.6);
}

#u11219-2,#u11219-4
{
	font-size: 15px;
	line-height: 18px;
}

#u11241
{
	background-color: #C69C6D;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	-khtml-border-radius: 24px;
	border-radius: 24px;
	position: relative;
}

#u11241:hover
{
	background-color: #EBC9A3;
}

#u11241:active
{
	background-color: #F0D1AF;
}

#u11222
{
	background-color: #C69C6D;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	-khtml-border-radius: 24px;
	border-radius: 24px;
	position: relative;
}

#u11222:hover
{
	background-color: #EBC9A3;
}

#u11222:active
{
	background-color: #F0D1AF;
}

#u11448
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #666666;
	background-color: rgba(0, 0, 0, 0.6);
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.6);
}

#u11475
{
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-webkit-transform: matrix(0,-1,1,0,-27,191);
	-ms-transform: matrix(0,-1,1,0,-27,191);
	-o-transform: matrix(0,-1,1,0,-27,191);
	transform: matrix(0,-1,1,0,-27,191);
	position: relative;
}

#u11469
{
	background-color: #C69C6D;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	-khtml-border-radius: 24px;
	border-radius: 24px;
	position: relative;
}

#u11469:hover
{
	background-color: #EBC9A3;
}

#u11469:active
{
	background-color: #F0D1AF;
}

#u11464
{
	background-color: #C69C6D;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	-khtml-border-radius: 24px;
	border-radius: 24px;
	position: relative;
}

#u11464:hover
{
	background-color: #EBC9A3;
}

#u11464:active
{
	background-color: #F0D1AF;
}

#u11390
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #666666;
	background-color: rgba(0, 0, 0, 0.6);
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.6);
}

#u11393-4
{
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
}

#u11408
{
	background-color: #C69C6D;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	-khtml-border-radius: 24px;
	border-radius: 24px;
	position: relative;
}

#u11408:hover
{
	background-color: #EBC9A3;
}

#u11408:active
{
	background-color: #F0D1AF;
}

#u11413
{
	background-color: #C69C6D;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	-khtml-border-radius: 24px;
	border-radius: 24px;
	position: relative;
}

#u11413:hover
{
	background-color: #EBC9A3;
}

#u11413:active
{
	background-color: #F0D1AF;
}

#u11276
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #666666;
	background-color: rgba(0, 0, 0, 0.6);
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.6);
}

#u11298
{
	background-color: #C69C6D;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	-khtml-border-radius: 24px;
	border-radius: 24px;
	position: relative;
}

#u11298:hover
{
	background-color: #EBC9A3;
}

#u11298:active
{
	background-color: #F0D1AF;
}

#u11247
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #666666;
	background-color: rgba(0, 0, 0, 0.6);
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.6);
}

#u11251
{
	background-color: #C69C6D;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	-khtml-border-radius: 24px;
	border-radius: 24px;
	position: relative;
}

#u11251:hover
{
	background-color: #EBC9A3;
}

#u11251:active
{
	background-color: #F0D1AF;
}

#u11258
{
	background-color: #C69C6D;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	-khtml-border-radius: 24px;
	border-radius: 24px;
	position: relative;
}

#u11258:hover
{
	background-color: #EBC9A3;
}

#u11258:active
{
	background-color: #F0D1AF;
}

#u11304
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #666666;
	background-color: rgba(0, 0, 0, 0.6);
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.6);
}

#u11311
{
	background-color: #C69C6D;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	-khtml-border-radius: 24px;
	border-radius: 24px;
	position: relative;
}

#u11311:hover
{
	background-color: #EBC9A3;
}

#u11311:active
{
	background-color: #F0D1AF;
}

#u11316
{
	background-color: #C69C6D;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	-khtml-border-radius: 24px;
	border-radius: 24px;
	position: relative;
}

#u11316:hover
{
	background-color: #EBC9A3;
}

#u11316:active
{
	background-color: #F0D1AF;
}

#u11506
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #666666;
	background-color: rgba(0, 0, 0, 0.6);
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.6);
}

#u11518
{
	background-color: #C69C6D;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	-khtml-border-radius: 24px;
	border-radius: 24px;
	position: relative;
}

#u11518:hover
{
	background-color: #EBC9A3;
}

#u11518:active
{
	background-color: #F0D1AF;
}

#u11509
{
	background-color: #C69C6D;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	-khtml-border-radius: 24px;
	border-radius: 24px;
	position: relative;
}

#u11509:hover
{
	background-color: #EBC9A3;
}

#u11509:active
{
	background-color: #F0D1AF;
}

#u11362
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #666666;
	background-color: rgba(0, 0, 0, 0.6);
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.6);
}

#u11384
{
	background-color: #C69C6D;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	-khtml-border-radius: 24px;
	border-radius: 24px;
	position: relative;
}

#u11384:hover
{
	background-color: #EBC9A3;
}

#u11384:active
{
	background-color: #F0D1AF;
}

#u11419
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #666666;
	background-color: rgba(0, 0, 0, 0.6);
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.6);
}

#u11449-4,#u11248-6,#u11332-6,#u11534-6,#u11447-4
{
	line-height: 20px;
	color: #FFFFFF;
	font-size: 17px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
}

#u11424
{
	background-color: #C69C6D;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	-khtml-border-radius: 24px;
	border-radius: 24px;
	position: relative;
}

#u11424:hover
{
	background-color: #EBC9A3;
}

#u11424:active
{
	background-color: #F0D1AF;
}

#u11441
{
	background-color: #C69C6D;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	-khtml-border-radius: 24px;
	border-radius: 24px;
	position: relative;
}

#u11441:hover
{
	background-color: #EBC9A3;
}

#u11441:active
{
	background-color: #F0D1AF;
}

#u11477
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #666666;
	background-color: rgba(0, 0, 0, 0.6);
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.6);
}

#u11335,#u11245,#u11391,#u11302,#u11274,#u11305,#u11532,#u11363,#u11420,#u11504
{
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
}

#u11219-7,#u11478-7
{
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
}

#u11478-2,#u11478-4
{
	font-size: 18px;
	line-height: 22px;
}

#u11219-5,#u11478-5
{
	font-size: 8px;
	line-height: 10px;
}

#u11500
{
	background-color: #C69C6D;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	-khtml-border-radius: 24px;
	border-radius: 24px;
	position: relative;
}

#u11500:hover
{
	background-color: #EBC9A3;
}

#u11500:active
{
	background-color: #F0D1AF;
}

#u11491
{
	background-color: #C69C6D;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	-khtml-border-radius: 24px;
	border-radius: 24px;
	position: relative;
}

#u11491:hover
{
	background-color: #EBC9A3;
}

#u11491:active
{
	background-color: #F0D1AF;
}

#u11348.MuseMenuActive,#u11339.MuseMenuActive,#u11241.MuseMenuActive,#u11222.MuseMenuActive,#u11469.MuseMenuActive,#u11464.MuseMenuActive,#u11408.MuseMenuActive,#u11413.MuseMenuActive,#u11298.MuseMenuActive,#u11251.MuseMenuActive,#u11258.MuseMenuActive,#u11311.MuseMenuActive,#u11316.MuseMenuActive,#u11518.MuseMenuActive,#u11509.MuseMenuActive,#u11384.MuseMenuActive,#u11424.MuseMenuActive,#u11441.MuseMenuActive,#u11500.MuseMenuActive,#u11491.MuseMenuActive
{
	background-color: #896540;
}

#u11567-4,#u11584-4,#u11560-4,#u11349-4,#u11340-4,#u11243-4,#u11225-4,#u11470-4,#u11465-4,#u11410-4,#u11414-4,#u11300-4,#u11253-4,#u11261-4,#u11312-4,#u11319-4,#u11519-4,#u11512-4,#u11386-4,#u11427-4,#u11444-4,#u11502-4,#u11492-4
{
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u11546
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #5EA5D4;
	background-color: rgba(0, 113, 188, 0.63);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-background: rgba(0, 113, 188, 0.63);
}

#u11546:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u11546.PamphletThumbSelected
{
	background-color: #FF7777;
	background-color: rgba(255, 0, 0, 0.53);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-background: rgba(255, 0, 0, 0.53);
}

#u11540
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #5EA5D4;
	background-color: rgba(0, 113, 188, 0.63);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-background: rgba(0, 113, 188, 0.63);
}

#u11540:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u11540.PamphletThumbSelected
{
	background-color: #FF7777;
	background-color: rgba(255, 0, 0, 0.53);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-background: rgba(255, 0, 0, 0.53);
}

#u11541
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #5EA5D4;
	background-color: rgba(0, 113, 188, 0.63);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-background: rgba(0, 113, 188, 0.63);
}

#u11541:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u11541.PamphletThumbSelected
{
	background-color: #FF7777;
	background-color: rgba(255, 0, 0, 0.53);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-background: rgba(255, 0, 0, 0.53);
}

#u11537
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #5EA5D4;
	background-color: rgba(0, 113, 188, 0.63);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-background: rgba(0, 113, 188, 0.63);
}

#u11537:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u11537.PamphletThumbSelected
{
	background-color: #FF7777;
	background-color: rgba(255, 0, 0, 0.53);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-background: rgba(255, 0, 0, 0.53);
}

#u11544
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #5EA5D4;
	background-color: rgba(0, 113, 188, 0.63);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-background: rgba(0, 113, 188, 0.63);
}

#u11544:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u11544.PamphletThumbSelected
{
	background-color: #FF7777;
	background-color: rgba(255, 0, 0, 0.53);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-background: rgba(255, 0, 0, 0.53);
}

#u11545
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #5EA5D4;
	background-color: rgba(0, 113, 188, 0.63);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-background: rgba(0, 113, 188, 0.63);
}

#u11545:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u11545.PamphletThumbSelected
{
	background-color: #FF7777;
	background-color: rgba(255, 0, 0, 0.53);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-background: rgba(255, 0, 0, 0.53);
}

#u11536
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #5EA5D4;
	background-color: rgba(0, 113, 188, 0.63);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-background: rgba(0, 113, 188, 0.63);
}

#u11536:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u11536.PamphletThumbSelected
{
	background-color: #FF7777;
	background-color: rgba(255, 0, 0, 0.53);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-background: rgba(255, 0, 0, 0.53);
}

#u11539
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #5EA5D4;
	background-color: rgba(0, 113, 188, 0.63);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-background: rgba(0, 113, 188, 0.63);
}

#u11539:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u11539.PamphletThumbSelected
{
	background-color: #FF7777;
	background-color: rgba(255, 0, 0, 0.53);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-background: rgba(255, 0, 0, 0.53);
}

#u11538
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #5EA5D4;
	background-color: rgba(0, 113, 188, 0.63);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-background: rgba(0, 113, 188, 0.63);
}

#u11538:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u11538.PamphletThumbSelected
{
	background-color: #FF7777;
	background-color: rgba(255, 0, 0, 0.53);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-background: rgba(255, 0, 0, 0.53);
}

#u11543
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #5EA5D4;
	background-color: rgba(0, 113, 188, 0.63);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-background: rgba(0, 113, 188, 0.63);
}

#u11543:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u11543.PamphletThumbSelected
{
	background-color: #FF7777;
	background-color: rgba(255, 0, 0, 0.53);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-background: rgba(255, 0, 0, 0.53);
}

#u11542
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #5EA5D4;
	background-color: rgba(0, 113, 188, 0.63);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-background: rgba(0, 113, 188, 0.63);
}

#u11542:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u11542.PamphletThumbSelected
{
	background-color: #FF7777;
	background-color: rgba(255, 0, 0, 0.53);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-background: rgba(255, 0, 0, 0.53);
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u12380
{
	border-color: #000000;
	background-color: #9D7F63;
	background-color: rgba(117, 76, 36, 0.71);
	-moz-border-radius: 26px;
	-webkit-border-radius: 26px;
	-khtml-border-radius: 26px;
	border-radius: 26px;
	position: relative;
	-pie-background: rgba(117, 76, 36, 0.71);
}

#u12361-4,#u12355-4,#u12390-4
{
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
}

#u12372-4
{
	line-height: 16px;
	color: #FFFFFF;
	font-size: 13px;
	font-style: italic;
	position: relative;
}

#u11548-4,#u11605-4,#u12362,#u12364,#u12356,#u12375,#u12369,#u12382,#u12373,#u12377,#u12353,#u12350,#u12385,#u12366
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u12381-4,#u12359-4,#u12371-4,#u12368-4,#u12379-4,#u12358-4,#u12360-4,#u12387-4,#u12391-4,#u12384-4,#u12389-4,#u12352-4,#u12388-4
{
	color: #FFFFFF;
	position: relative;
}

#u12138
{
	border-style: none;
	border-color: transparent;
	background-color: #AF9B8F;
	background-color: rgba(82, 39, 13, 0.46);
	-moz-border-radius: 28px 28px 0px 0px ;
	-webkit-border-radius: 28px 28px 0px 0px ;
	-khtml-border-radius: 28px 28px 0px 0px ;
	border-radius: 28px 28px 0px 0px ;
	position: relative;
	-pie-background: rgba(82, 39, 13, 0.46);
}

#u12084,#u12087,#menuu11553,#u11561,#u11580,#u11554,#u11587-3,#u11623,#pamphletu11208,#menuu11337,#u11345,#u11338,#menuu11220,#u11238,#u11221,#menuu11450,#u11468,#u11461,#menuu11394,#u11405,#u11412,#menuu11277,#u11295,#menuu11249,#u11250,#u11257,#menuu11307,#u11308,#u11315,#menuu11507,#u11515,#u11508,#menuu11365,#u11383,#menuu11422,#u11423,#u11440,#menuu11479,#u11497,#u11490,#u11535,#u12349,#u12139,#u12143,#u12145,#u12147,#u12141,#u12149
{
	position: relative;
}

