#u12029
{
	border-style: none;
	border-color: transparent;
	background-color: #52270D;
	-moz-border-radius: 0px 0px 9px 9px ;
	-webkit-border-radius: 0px 0px 9px 9px ;
	-khtml-border-radius: 0px 0px 9px 9px ;
	border-radius: 0px 0px 9px 9px ;
	position: relative;
}

#u12030_img
{
	opacity: 0.21;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=21)";
	filter: alpha(opacity=21);
}

#u12032
{
	border-width: 1px;
	border-style: solid;
	border-color: #C69C6D;
	background-color: #7C7C7C;
	background-color: rgba(0, 0, 0, 0.51);
	-moz-border-radius: 0px 0px 18px 18px ;
	-webkit-border-radius: 0px 0px 18px 18px ;
	-khtml-border-radius: 0px 0px 18px 18px ;
	border-radius: 0px 0px 18px 18px ;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.51);
}

#u2819
{
	background-color: #E0D3C5;
	background-color: rgba(164, 128, 87, 0.34);
	position: relative;
	-pie-background: rgba(164, 128, 87, 0.34);
}

#u2819_img
{
	opacity: 0.34;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=34)";
	filter: alpha(opacity=34);
}

#u2810
{
	-pie-box-shadow: 7px 8px 8px #86674B;
	-moz-box-shadow: 7px 8px 8px rgba(96, 56, 19, 0.76);
	-webkit-box-shadow: 7px 8px 8px -1px rgba(96, 56, 19, 0.76);
	box-shadow: 7px 8px 8px rgba(96, 56, 19, 0.76);
	background-color: #A86B3B;
	-moz-border-radius: 29px 0px 29px 0px ;
	-webkit-border-radius: 29px 0px 29px 0px ;
	-khtml-border-radius: 29px 0px 29px 0px ;
	border-radius: 29px 0px 29px 0px ;
	position: relative;
}

#u2810:hover
{
	background-color: #CA8342;
}

#u2810:active
{
	background-color: #5E3B0F;
}

#u2791
{
	-pie-box-shadow: 7px 8px 8px #86674B;
	-moz-box-shadow: 7px 8px 8px rgba(96, 56, 19, 0.76);
	-webkit-box-shadow: 7px 8px 8px -1px rgba(96, 56, 19, 0.76);
	box-shadow: 7px 8px 8px rgba(96, 56, 19, 0.76);
	background-color: #A86B3B;
	-moz-border-radius: 29px 0px 29px 0px ;
	-webkit-border-radius: 29px 0px 29px 0px ;
	-khtml-border-radius: 29px 0px 29px 0px ;
	border-radius: 29px 0px 29px 0px ;
	position: relative;
}

#u2791:hover
{
	background-color: #CA8342;
}

#u2791:active
{
	background-color: #5E3B0F;
}

#u2786
{
	-pie-box-shadow: 7px 8px 8px #86674B;
	-moz-box-shadow: 7px 8px 8px rgba(96, 56, 19, 0.76);
	-webkit-box-shadow: 7px 8px 8px -1px rgba(96, 56, 19, 0.76);
	box-shadow: 7px 8px 8px rgba(96, 56, 19, 0.76);
	background-color: #A86B3B;
	-moz-border-radius: 29px 0px 29px 0px ;
	-webkit-border-radius: 29px 0px 29px 0px ;
	-khtml-border-radius: 29px 0px 29px 0px ;
	border-radius: 29px 0px 29px 0px ;
	position: relative;
}

#u2786:hover
{
	background-color: #CA8342;
}

#u2786:active
{
	background-color: #5E3B0F;
}

#u2810.MuseMenuActive,#u2791.MuseMenuActive,#u2786.MuseMenuActive
{
	background-color: #40230C;
}

#u2813-4,#u2792-4,#u2789-4
{
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u2816-4,#u2817-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u2824
{
	border-style: none;
	border-color: transparent;
	background-color: #AF9B8F;
	background-color: rgba(82, 39, 13, 0.46);
	-moz-border-radius: 28px 28px 0px 0px ;
	-webkit-border-radius: 28px 28px 0px 0px ;
	-khtml-border-radius: 28px 28px 0px 0px ;
	border-radius: 28px 28px 0px 0px ;
	position: relative;
	-pie-background: rgba(82, 39, 13, 0.46);
}

#u12030,#u12034,#menuu2782,#u2809,#u2790,#u2783,#u9558,#u2991,#u2995,#u2997,#u2999,#u2993,#u12039
{
	position: relative;
}

