@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1023.7999999999997px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #A67C52;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-top: -1px;
}

#u12029
{
	z-index: 43;
	width: 768px;
	margin-right: -10000px;
}

#u12030
{
	z-index: 44;
	width: 621px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 83px;
}

#u12030_img
{
	padding-bottom: 1px;
}

#u12032
{
	z-index: 46;
	width: 181px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u12034
{
	z-index: 47;
	width: 179px;
	margin-right: -10000px;
	margin-top: -7px;
	left: -1px;
}

#u2819
{
	z-index: 2;
	width: 768px;
	margin-right: -10000px;
}

#u2819_img
{
	padding-bottom: 259px;
}

#menuu2782
{
	z-index: 4;
	width: 679px;
	margin-right: -10000px;
	margin-top: 114px;
	left: 54px;
}

#u2809
{
	width: 225px;
	min-height: 54px;
	margin-right: -10000px;
}

#u2810
{
	width: 225px;
	padding-bottom: 37px;
}

#u2810:hover
{
	margin: 0px;
}

#u2810:active
{
	margin: 0px;
}

#u2790
{
	width: 225px;
	min-height: 54px;
	margin-right: -10000px;
	left: 227px;
}

#u2791
{
	width: 225px;
	padding-bottom: 37px;
}

#u2810.MuseMenuActive,#u2791:hover
{
	margin: 0px;
}

#u2791:active
{
	margin: 0px;
}

#u2783
{
	width: 225px;
	min-height: 54px;
	margin-right: -10000px;
	left: 454px;
}

#u2786
{
	width: 225px;
	padding-bottom: 37px;
}

#u2791.MuseMenuActive,#u2786:hover
{
	margin: 0px;
}

#u2786:active
{
	margin: 0px;
}

#u2786.MuseMenuActive
{
	margin: 0px;
}

#u2813-4,#u2792-4,#u2789-4
{
	width: 225px;
	min-height: 17px;
	margin-right: -10000px;
	top: 18px;
}

#u2816-4
{
	z-index: 23;
	margin-right: -10000px;
	left: 154px;
}

#u2817-4
{
	z-index: 27;
	margin-right: -10000px;
	margin-top: 79px;
	left: 154px;
}

#u10007-4
{
	z-index: 51;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 182px;
	left: 154px;
}

#u10008-17
{
	z-index: 55;
	width: 671px;
	min-height: 692px;
	text-align: justify;
	line-height: 26px;
	color: #3E1015;
	font-size: 22px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	position: relative;
	margin-right: -10000px;
	margin-top: 509px;
	left: 53px;
}

#pu12029,#pu2819,#pu9558
{
	width: 0.01px;
	position: relative;
}

#u9558
{
	z-index: 31;
	width: 768px;
	margin-right: -10000px;
}

#u2824
{
	z-index: 32;
	width: 768px;
	padding-bottom: 31px;
	margin-right: -10000px;
}

#u2991
{
	z-index: 33;
	width: 176px;
	margin-right: -10000px;
	margin-top: 33px;
	left: -5px;
}

#u2995
{
	z-index: 37;
	width: 113px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 443px;
}

#u2997
{
	z-index: 39;
	width: 100px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 570px;
}

#u2999
{
	z-index: 41;
	width: 78px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 682px;
}

#u2993
{
	z-index: 35;
	width: 147px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 171px;
}

#u12039
{
	z-index: 49;
	width: 126px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 314px;
}

#u12034_img,#u12039_img
{
	padding-right: 1px;
}

#page .verticalspacer
{
	clear: both;
}

