@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1023.7999999999995px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #A67C52;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-top: -1px;
}

#u12092
{
	z-index: 31;
	width: 768px;
	margin-right: -10000px;
}

#u12093
{
	z-index: 32;
	width: 621px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 83px;
}

#u12093_img
{
	padding-bottom: 1px;
}

#u12095
{
	z-index: 34;
	width: 181px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u12096
{
	z-index: 35;
	width: 179px;
	margin-right: -10000px;
	margin-top: -7px;
	left: -1px;
}

#u11739
{
	z-index: 2;
	width: 768px;
	margin-right: -10000px;
}

#u11739_img
{
	padding-bottom: 259px;
}

#menuu11690
{
	z-index: 4;
	width: 679px;
	margin-right: -10000px;
	margin-top: 114px;
	left: 54px;
}

#u11698
{
	width: 225px;
	min-height: 54px;
	margin-right: -10000px;
}

#u11701
{
	width: 225px;
	padding-bottom: 37px;
}

#u11701:hover
{
	margin: 0px;
}

#u11701:active
{
	margin: 0px;
}

#u11691
{
	width: 225px;
	min-height: 54px;
	margin-right: -10000px;
	left: 227px;
}

#u11692
{
	width: 225px;
	padding-bottom: 37px;
}

#u11701.MuseMenuActive,#u11692:hover
{
	margin: 0px;
}

#u11692:active
{
	margin: 0px;
}

#u11705
{
	width: 225px;
	min-height: 54px;
	margin-right: -10000px;
	left: 454px;
}

#u11708
{
	width: 225px;
	padding-bottom: 37px;
}

#u11692.MuseMenuActive,#u11708:hover
{
	margin: 0px;
}

#u11708:active
{
	margin: 0px;
}

#u11708.MuseMenuActive
{
	margin: 0px;
}

#u11703-4,#u11693-4,#u11711-4
{
	width: 225px;
	min-height: 17px;
	margin-right: -10000px;
	top: 18px;
}

#u11688-4
{
	z-index: 23;
	margin-right: -10000px;
	left: 154px;
}

#u11741-4
{
	z-index: 27;
	margin-right: -10000px;
	margin-top: 70px;
	left: 154px;
}

#u11867-4
{
	z-index: 50;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 187px;
	left: 154px;
}

#u11868-12
{
	z-index: 54;
	width: 671px;
	min-height: 692px;
	text-align: justify;
	line-height: 26px;
	color: #3E1015;
	font-size: 22px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	position: relative;
	margin-right: -10000px;
	margin-top: 551px;
	left: 53px;
}

#pu12092,#pu11739,#pu12158
{
	width: 0.01px;
	position: relative;
}

#u12158
{
	z-index: 37;
	width: 768px;
	padding-bottom: 31px;
	margin-right: -10000px;
}

#u12159
{
	z-index: 38;
	width: 176px;
	margin-right: -10000px;
	margin-top: 33px;
	left: -5px;
}

#u12163
{
	z-index: 42;
	width: 113px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 443px;
}

#u12165
{
	z-index: 44;
	width: 100px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 570px;
}

#u12167
{
	z-index: 46;
	width: 78px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 682px;
}

#u12161
{
	z-index: 40;
	width: 147px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 171px;
}

#u12169
{
	z-index: 48;
	width: 126px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 314px;
}

#u12096_img,#u12169_img
{
	padding-right: 1px;
}

#page .verticalspacer
{
	clear: both;
}

